body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: var(--secondary-bg);
    box-sizing: border-box;
    color: var(--text);
}

:root {
    --shadow2: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 1px 2px;
    --shadow4: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
    --shadow8: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 4px 8px;
    --shadow16: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 8px 16px;
    --shadow28: rgba(0, 0, 0, 0.12) 0px 0px 8px, rgba(0, 0, 0, 0.14) 0px 14px 28px;
    --shadow64: rgba(0, 0, 0, 0.12) 0px 0px 8px, rgba(0, 0, 0, 0.14) 0px 32px 64px;
    --text: #000;
    --secondary-text: #7b7b7b;
    --accent: #0078D7;
    --accent-text: #fff;
    --bg: #fff;
    --secondary-bg: #f5f5f5;
    --translucent-bg: #ffffffdc;
    --translucent-secondary-bg: #f5f5f5dc;
    --translucent-alt-bg: #0000008c;
    --alt-bg: #989898;
    --border-color: #e8e8e8;
    --border-shadow: #bababa;
    --hover: #f6f6f6;
    --secondary-hover: #e9e9e9;
}

body.dark {
    --text: #fff;
    --bg: #292929;
    --secondary-bg: #000;
    --border-color: #333333;
    --border-shadow: #575757;
    --hover: #333333;
    --secondary-hover: #333333;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
  width: .65rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border: solid rgba(0, 0, 0, 0);
  border-width: .25rem;
  background-clip: padding-box;
  border-radius: 2rem;
  background-color: var(--alt-bg); 
}

.scrollable::-webkit-scrollbar {
    width: .18rem;
}
.scrollable::-webkit-scrollbar-track {
    background-color: var(--secondary-bg);
}

.scrollable::-webkit-scrollbar-thumb {
    border-width: 0;
}



html {
    margin: 0;
    padding: 0;
    line-height: 1.75;
    scroll-behavior: smooth;
}

main {
    display: flex;
    margin: 0;
}

.main {
    --width: 97em;
    width: var(--width);
    margin: .4rem 0 0 calc(100.1em - var(--width));
    background: var(--bg);
    border: 1px solid var(--border-color);
    border-right: none;
    padding: 1rem 1.7rem;
    border-radius: .7rem 0 0 0;
    box-shadow: none;
}

article,
dialog {
    display: inline-block;
    background-color: var(--bg);
    border: 1px solid var(--border-color);
    color: var(--text);
    border-bottom: 1px solid var(--border-shadow);
    border-radius: .45rem;
    padding: .2rem 1.2rem;
    box-shadow: var(--shadow2);
}

article> :not(section) {
    padding: .8rem 0;
}

article> :not(section):first-child {
    padding-bottom: 0;
}

article>header.main-header {
    text-align: center;
    padding: 16vw 0;
}

article :is(h1, h2, h3 ,h4 ,h5 ,h6) {
    padding: 1.2rem 0;
}

:where(h1, h2, h3, h4, h5, h6) {
    display: block;
    font-weight: 500;
    line-height: normal;
    padding: 0 0 .5rem;
}

h1 {
    font-size: 68px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

header .title {
    font-size: 2.5rem;
    padding: 1rem 0;
}

header .description {
    font-size: 1.2rem;
    color: var(--secondary-text);
}

section> :is(h1, h2, h3):first-child {
    padding-top: 0;
}

section {
    border-top: 1px solid var(--border-color);
    padding: 2rem 0;
}

a {
    background-color: transparent;
    color: inherit;
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

:is(code, kbd, samp, pre) {
    font-family: monospace, monospace;
    font-size: 1em;
}

:is(sub, sup) {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

button {
    overflow: visible;
    text-transform: none;
}

:is(button, input, optgroup, textarea) {
    border: 1px solid currentColor;
}

:is(button, [type=button], [type=reset], [type=submit], select) {
    -webkit-appearance: button;
    display: inline-block;
    font: inherit;
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor: pointer;
    text-align: left;
}

input {
    overflow: visible;
}

:is(input, textarea) {
    padding: 1px;
}

fieldset {
    border: 1px solid currentColor;
    margin: 0 2px;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

select {
    text-transform: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=color] {
    background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

::-webkit-search-decoration,
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-moz-focus-inner {
    border: 0;
}

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
    box-shadow: none;
}

hr {
    box-sizing: content-box;
    border-top: 1px solid var(--border-color);
    height: 0;
    margin: .4rem 0;
}

:is(ol, ul, dl) {
    margin: 1rem;
}

:is(ol, ul, dl) ol,
:is(ol, ul, dl) dl,
:is(ol, ul, dl) ul {
    margin: 0;
}

:is(b, strong) {
    font-weight: bolder;
}

:is(audio, video) {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

table {
    text-indent: 0;
    border-color: inherit;
}

details {
    display: block;
}

dialog {
    display: block;
    margin: auto;
    padding: .4rem 1.6rem 0;
}

dialog::backdrop {
    background-color: var(--translucent-alt-bg);
}

dialog:not([open]) {
    display: none;
}

body:has(dialog[open]) {
    overflow: hidden;
}

dialog form {
    padding: 1.4rem 1.6rem;
    margin: 1.8rem 0 0;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
    background: var(--secondary-bg);
    border-top: 1px solid var(--border-color);
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

:is(:disabled, [disabled]) {
    opacity: .3;
    pointer-events: none;
}

[hidden] {
    display: none;
}

:is(.margin-top, .margin-bottom, .margin-left, .margin-right) {
    --margin-size: .75rem;
}

.margin-top {
    clear: both;
    padding-top: var(--margin-size);
}

.margin-bottom {
    clear: both;
    padding-bottom: var(--margin-size);
}

.margin-left {
    clear: both;
    padding-left: var(--margin-size);
}

.margin-right {
    padding-right: var(--margin-size);
}

.margin-small {
    --margin-size: .25rem;
}

.margin-large {
    --margin-size: .75rem;
}

.full-width,
.full-width>* {
    width: 100%;
}

.grouped>* {
    float: left;
}

.grouped> :not(:last-child) {
    border-right: none;
}

.grouped> :not(:first-child, :last-child) {
    border-radius: 0;
}

.grouped> :first-child,
.grouped .first-child {
    border-radius: .3rem 0 0 .3rem;
}

.grouped> :last-child,
.grouped .last-child {
    border-radius: 0 .3rem .3rem 0;
}

.dropdown,
.grouped {
    position: relative;
    display: inline-block;
}

.rail {
    position: fixed;
    left: 0;
    top: 0;
    padding: .2rem 0 .2rem .2rem;
    height: 100%;
    width: 3em;
    transition: .25s cubic-bezier(0.1, 0.9, 0.2, 1);
    border-right: 1px solid transparent;
    z-index: 0;
}

.rail .scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height: 80vh;
    border: none;
    padding: 0;
}

.rail .scrollable>ul {
    height: 100%;
}

.rail .scrollable>:is(ul, li) {
    padding: 0;
    margin: 0;
}

.rail[open] {
    width: 14.5em;
    border-radius: 0 .5rem .5rem 0;
    background-color: var(--secondary-bg);
    box-shadow: var(--shadow16);
    border-right: 1px solid var(--border-color);
    z-index: 2;
}

@media only screen and (max-width: 30rem) {
    .rail[open] {
        width: 100%;
        border-radius: 0;
    }
    .rail[open] li:not(.icon) {
        width: 100%;
    }
}

.rail[open] li:not(.icon) {
    width: 100%;
}

.rail li {
    font-family: inherit;
    display: block;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: none;
    font-size: 1.2rem;
    height: 2.3rem;
    width: 2.6rem;
    border-radius: .3rem;
    padding: 0;
    margin: .2rem 0;
    text-align: left;
    transition: width .25s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.rail li:active {
    border: none;
}

.rail li iconify-icon {
    display: inline-block;
    margin: .45rem 0 0 .55rem;
    font-size: 1.4rem;
}

.rail:not([open]) li span {
    visibility: hidden;
}

.rail li span {
    display: inline-block;
    position: absolute;
    font-size: .9rem;
    padding: .4rem 0 .45rem .6rem;
}

.rail li.active::before {
    position: absolute;
    left: 0;
    margin-top: .65rem;
    width: 3px;
    height: 1rem;
    content: "";
    background-color: var(--accent);
    border-radius: 2px;
}

.rail li.active {
    background: var(--secondary-hover);
}

.rail li:hover {
    background: var(--secondary-hover);
}

.rail:not([open]) [data-tooltip]:after {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 3rem;
}

button:not(.plain, .rail button),
.button,
:is(input[type=text], textarea) {
    display: inline-block;
    border-radius: .35rem;
    padding: .15rem .8rem;
    transition: all 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
    outline: none;
    line-height: inherit;
}

button:not(.accent, .plain, .rail button),
.button,
:is(input[type=text], textarea) {
    background-color: var(--bg);
    border: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-shadow);
    color: var(--text);
}

button:not(.accent, .plain, .rail button):hover,
.button:hover,
:is(input[type=text], textarea):not(:focus):hover {
    background-color: var(--hover);
}

button:not(.accent, .plain, .rail button):active,
.button:active {
    border-bottom: 1px solid var(--border-color);
}

.accent {
    background-color: var(--accent);
    color: var(--accent-text);
    border: 1px solid transparent;
}

.accent:hover {
    background-color: var(--accent);
    opacity: .9;
}

.accent:active {
    color: var(--translucent-bg);
    border: 1px solid transparent;
}

:where(button, .button) iconify-icon {
    font-size: 1.2rem;
    margin-top: -.5em;
    margin-bottom: -.15em;
}

iconify-icon.right {
    float: right;
    margin-top: .25rem;
}

button.square {
    height: 3.8rem;
    aspect-ratio: 1/1;
}

button.square iconify-icon {
    font-size: 2.5rem;
    margin: .45rem -.22rem;
}

button.circle {
    border-radius: 50% !important;
}

:is(input[type=text], textarea) {
    border-bottom: 1px solid var(--border-shadow);
    transition: none;
    font: inherit;
    width: 100%;
    line-height: normal;
    min-height: 2.2rem;
    overflow-y: hidden;
}

:is(input[type=text], textarea):focus {
    border-bottom: 1px solid var(--accent);
    box-shadow: var(--accent) 0px -1px 0px inset;
}

textarea, details>summary:not(.plain) {
    display: block;
    max-width: 100%;
}

details>summary {
    list-style: none;
    cursor: pointer;
    margin: 0 0 1rem 0;
}

details>summary::-webkit-details-marker {
    display: none;
}

input[type=text] {
    font: inherit;
    outline: none;
}

menu {
    position: absolute;
    background-color: var(--bg);
    width: max-content;
    box-shadow: var(--shadow8);
    margin: .2rem 0;
    border-radius: .5rem;
    z-index: 1;
    transition: .1s;
    border: 1px solid var(--border-color);
}

menu ul {
    margin: 0;
}

menu li {
    display: block;
    padding: .35rem .8rem;
    line-height: normal;
    border-radius: .3rem;
    margin: .25rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

menu li:hover {
    background-color: var(--hover);
}

menu .dropdown {
    display: block;
    padding: 0;
}

menu .dropdown>menu {
    left: 100%;
    top: 0;
}

menu .dropdown>button {
    padding: .25rem .8rem;
}

.dropdown menu:not([open]) {
    display: none;
}

label:has(>input:is([type="checkbox"], [type="radio"])) {
    display: grid;
    grid-template-columns: 1em auto;
    gap: .65rem;
    cursor: pointer;
    line-height: 1.1;
}

input:is([type="checkbox"], [type="radio"]) {
    display: grid;
    place-content: center;
    appearance: none;
    font: inherit;
    width: 1.25em;
    height: 1.25em;
    margin: 0;
    background-color: var(--secondary-bg);
    border: 0.1em solid var(--border-shadow);
    border-radius: 0.3rem;
}

input:is([type="checkbox"], [type="radio"]):hover {
    background-color: var(--border-color);
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: var(--bg);
    border: .3em solid var(--accent);
    transition: .1s;
}

input[type="radio"]:checked:hover {
    border-width: .25em;
}

input[type="checkbox"]::before {
    content: "";
    width: .4em;
    height: .7em;
    margin-top: -.2em;
    transform: rotate(45deg);
    border: solid transparent;
    border-width: 0 .15em .15em 0;
    border-radius: 1px;
}

input[type="checkbox"]:checked::before {
    border-color: var(--bg);
}

input[type="checkbox"]:checked {
    background-color: var(--accent);
    border-color: transparent;
}

label+label {
    margin-top: .75rem;
}

.slider {
  -webkit-appearance: none;
   min-width: 16rem;
  height: .3rem;
  border: none;
  border-radius: 5px;
  background: var(--alt-bg);
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: var(--accent);
  border: .35rem solid var(--bg);
  cursor: pointer;
  box-shadow: var(--shadow2);
  transition: .2s;
}

.slider::-webkit-slider-thumb:hover {
    border-width: .25rem;
}

.tooltip-comp {
    background-color: var(--bg);
    padding: .25rem .6rem;
    font-size: .8rem !important;
    text-overflow: ellipsis;
    border-radius: .3rem !important;
    line-height: 1.55;
    box-shadow: var(--shadow8);
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    padding: 5px 10px;
    opacity: 0;
    pointer-events: none;
    word-break: break-word;
    text-align: left;
    border-radius: 2px
}

.tooltip-comp-arrow::before,
.pop-comp-arrow::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
    background-color: var(--bg);
    box-shadow: var(--shadow8);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.tooltip-comp.hide-arrow-icon .tooltip-comp-arrow {
    display: none
}

.pop-comp-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1
}

.pop-comp-disable-events {
    pointer-events: none
}

.tooltip-comp-arrow,
.pop-comp-arrow {
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    overflow: hidden;
    pointer-events: none
}

.tooltip-comp-content,
.pop-comp-content {
    position: relative;
    z-index: 2
}

.tooltip-comp.position-bottom .tooltip-comp-arrow,
.pop-comp-wrapper.position-bottom>.pop-comp-arrow {
    margin-left: -8px;
    left: 0;
    top: -15px
}

.tooltip-comp.position-top .tooltip-comp-arrow,
.pop-comp-wrapper.position-top>.pop-comp-arrow {
    margin-left: -8px;
    left: 0;
    bottom: -15px
}

.tooltip-comp.position-right .tooltip-comp-arrow,
.pop-comp-wrapper.position-right>.pop-comp-arrow {
    margin-top: -8px;
    top: 0;
    left: -15px
}

.tooltip-comp.position-left .tooltip-comp-arrow,
.pop-comp-wrapper.position-left>.pop-comp-arrow {
    margin-top: -8px;
    top: 0;
    right: -15px
}

.select {
    min-width: 11.5rem;
}

.select :is(ul, li) {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.select ul:has(li+li) li::after {
    content: ",\00a0";
}

.select ul:has(li+li) li:last-child:after {
    content: "";
}

.grid {
    ---gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12,calc(8.33% - var(---gap) + (var(---gap) / 12)));
    gap: var(---gap)
}

.grid.no-space {
    ---gap: 0rem
}

.grid.medium-space {
    ---gap: 1.5rem
}

.grid.large-space {
    ---gap: 2rem
}

.grid>* {
    margin: 0
}

.s1 {
    grid-area: auto/span 1
}

.s2 {
    grid-area: auto/span 2
}

.s3 {
    grid-area: auto/span 3
}

.s4 {
    grid-area: auto/span 4
}

.s5 {
    grid-area: auto/span 5
}

.s6 {
    grid-area: auto/span 6
}

.s7 {
    grid-area: auto/span 7
}

.s8 {
    grid-area: auto/span 8
}

.s9 {
    grid-area: auto/span 9
}

.s10 {
    grid-area: auto/span 10
}

.s11 {
    grid-area: auto/span 11
}

.s12 {
    grid-area: auto/span 12
}

@media only screen and (min-width: 601px) {
    .m1 {
        grid-area:auto/span 1
    }

    .m2 {
        grid-area: auto/span 2
    }

    .m3 {
        grid-area: auto/span 3
    }

    .m4 {
        grid-area: auto/span 4
    }

    .m5 {
        grid-area: auto/span 5
    }

    .m6 {
        grid-area: auto/span 6
    }

    .m7 {
        grid-area: auto/span 7
    }

    .m8 {
        grid-area: auto/span 8
    }

    .m9 {
        grid-area: auto/span 9
    }

    .m10 {
        grid-area: auto/span 10
    }

    .m11 {
        grid-area: auto/span 11
    }

    .m12 {
        grid-area: auto/span 12
    }
}

@media only screen and (min-width: 993px) {
    .l1 {
        grid-area:auto/span 1
    }

    .l2 {
        grid-area: auto/span 2
    }

    .l3 {
        grid-area: auto/span 3
    }

    .l4 {
        grid-area: auto/span 4
    }

    .l5 {
        grid-area: auto/span 5
    }

    .l6 {
        grid-area: auto/span 6
    }

    .l7 {
        grid-area: auto/span 7
    }

    .l8 {
        grid-area: auto/span 8
    }

    .l9 {
        grid-area: auto/span 9
    }

    .l10 {
        grid-area: auto/span 10
    }

    .l11 {
        grid-area: auto/span 11
    }

    .l12 {
        grid-area: auto/span 12
    }
}