body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

:root {
    --shadow2: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 1px 2px;
    --shadow4: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
    --shadow8: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 4px 8px;
    --shadow16: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 8px 16px;
    --shadow28: rgba(0, 0, 0, 0.12) 0px 0px 8px, rgba(0, 0, 0, 0.14) 0px 14px 28px;
    --shadow64: rgba(0, 0, 0, 0.12) 0px 0px 8px, rgba(0, 0, 0, 0.14) 0px 32px 64px;
    --accent: #07bbbc;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    line-height: 1.45;
}

main {
    display: flex;
    margin: 0;
}

.main {
    --width: 97em;
    width: var(--width);
    margin: .4rem 0 0 calc(100.05em - var(--width));
    background: #fff;
    border: 1px solid #e8e8e8;
    border-right: none;
    padding: 1rem 1.7rem;
    border-radius: .7rem 0 0 0;
    box-shadow: none;
}

article,
dialog {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-bottom: 1px solid #bababa;
    border-radius: .4rem;
    padding: .2rem 1.2rem;
    box-shadow: var(--shadow2);
}

article > :not(section) {
    padding: .8rem 0;
}

article > :not(section):first-child {
    padding-bottom: 0;
}

section > :is(h1, h2, h3):first-child {
    padding-top: 0;
}

section {
    border-top: 1px solid #e8e8e8;
    padding: 2rem 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

:is(code, kbd, samp, pre) {
    font-family: monospace, monospace;
    font-size: 1em;
}

:is(sub, sup) {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

button {
    overflow: visible;
    text-transform: none;
}

:is(button, input, optgroup, select, textarea) {
    line-height: inherit;
    border: 1px solid currentColor;
}

:is(button, [type=button], [type=reset], [type=submit]) {
    -webkit-appearance: button;
    display: inline-block;
    font: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input {
    overflow: visible;
}

:is(input, textarea) {
    padding: 1px;
}

fieldset {
    border: 1px solid currentColor;
    margin: 0 2px;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

select {
    text-transform: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=color] {
    background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

::-webkit-search-decoration,
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-moz-focus-inner {
    border: 0;
}

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
    box-shadow: none;
}

hr {
    box-sizing: content-box;
    height: 0;
    color: inherit;
    overflow: visible;
}

:is(ol, ul, dl) {
    margin: 1em 0;
}

:is(ol, ul, dl) ol,
:is(ol, ul, dl) dl,
:is(ol, ul, dl) ul {
    margin: 0;
}

:is(b, strong) {
    font-weight: bolder;
}

:is(audio, video) {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

table {
    text-indent: 0;
    border-color: inherit;
}

details {
    display: block;
}

dialog {
    display: block;
    margin: auto;
    padding: .4rem 1.6rem 0;
}

dialog::backdrop {
    background-color: #0000008d;
}

dialog:not([open]) {
    display: none;
}

body:has(dialog[open]) {
    overflow: hidden;
}
dialog form {
    padding: 1.4rem 1.6rem;
    margin: 1.8rem 0 0;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
    background: #F5F5F5;
    border-top: 1px solid #e8e8e8;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

:is(:disabled, [disabled]) {
    opacity: .3;
    pointer-events: none;
}

[hidden] {
    display: none;
}

::-webkit-scrollbar {
    width: 12px;
    margin: 1rem 0;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    border: 2px solid rgba(255, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #878787;
    background-clip: padding-box;
    border: 4px solid rgba(255, 0, 0, 0);
    border-radius: 8px;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    --width: 6px;
    --color: #878787;
    border-style: solid;
    height: 10px;
    width: 16px;
    border-radius: 4px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 var(--width) var(--width) var(--width);
    border-color: transparent transparent var(--color) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: var(--width) var(--width) 0 var(--width);
    border-color: var(--color) transparent transparent transparent;
}

article > header.main-header {
    text-align: center;
    padding: 12rem 0;
}

header .title {
    color: #000000;
    font-size: 2.5rem;
    padding: 1rem 0;
}

header .description {
    font-size: 1.2rem;
    color: #7b7b7b;
}

.rail {
    position: fixed;
    left: 0;
    top: 0;
    width: 3%;
    padding: .2rem;
    height: 100%;
    transition: .25s cubic-bezier(0.1, 0.9, 0.2, 1);
    border-right: 1px solid transparent;
}

.rail[open] {
    width: 12em;
    border-radius: 0 .5rem .5rem 0;
    background-color: #f1f1f1dc;
    backdrop-filter: blur(.6rem);
    box-shadow: 0 7px 9px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .02);
    border-right: 1px solid #dedede;
    z-index: 2;
}

@media only screen and (max-width: 30rem) {
    .rail[open] {
        width: 100%;
        border-radius: 0;
        backdrop-filter: blur(0);
        background-color: #f1f1f1;
    }
}

.rail[open] button:not(.icon) {
    width: 100%;
}

.rail button {
    font-family: inherit;
    display: block;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    height: 2.4rem;
    width: 2.6rem;
    border-radius: .3rem;
    padding: 0;
    margin: .15rem 0;
    text-align: left;
    transition: width .25s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.rail button:active {
    border: none;
}

.rail button>i {
    display: inline-block;
    text-align: center;
    height: 2.4rem;
    width: 2.6rem;
    padding: .35rem 0;
    font-style: normal;
}

.rail button i.bx {
    margin-bottom: -1.1rem;
    font-size: 1.3rem;
}

.rail:not([open]) button>span {
    visibility: hidden;
}

.rail button>span {
    display: inline-block;
    position: absolute;
    font-size: .9rem;
    padding: .4rem 0;
}

.rail button.active::before {
    position: absolute;
    left: 4px;
    margin-top: .5rem;
    width: 2px;
    height: 1rem;
    content: "";
    background-color: #000000;
    border-radius: 2px;
}

.rail button.active {
    background: #e9e9e9;
}

.rail button:hover {
    background: #e9e9e9;
}

article :is(h1, h2, h3, h4, h5, h6) {
    display: block;
    font-weight: 500;
    line-height: normal;
    padding: 1.2rem 0;
}

h1 {
    font-size: 68px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

ul li {
    margin: .4rem 0;
}

button:not(.plain, .rail button),
.button {
    display: inline-block;
    border-radius: .3rem;
    padding: .4rem .9rem;
    transition: all 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
    outline: none;
    cursor: pointer;
}

button:not(.accent, .plain, .rail button),
.button {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-bottom: 1px solid #d0d0d0;
    color: #000000;
}

button:not(.accent, .plain, .rail button):hover,
.button:hover {
    background-color: #f6f6f6;
}

button:not(.accent, .plain, .rail button):active,
.button:active {
    border-bottom: 1px solid #e8e8e8;
}

.accent {
    background-color: var(--accent);
    color: #ffffff;
    border: 1px solid transparent;
}

.accent:hover {
    background-color: var(--accent);
    opacity: .9;
}

.accent:active {
    color: #ffffff83;
    border: 1px solid transparent;
}

button>i {
    font-size: 1.2rem;
}

button.square {
    width: 3.9rem;
    height: 3.9rem;
}

button.square>i {
    font-size: 2rem;
}

.circle {
    border-radius: 50%;
}

details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

details summary {
    margin: 0 0 1rem 0;
}

input[type=text] {
    padding: .35rem .8rem;
    margin: 8px 0;
    font: inherit;
    border: 1px solid #e8e8e8;
    border-bottom: 1px solid #d0d0d0;
    outline: none;
    border-radius: .2rem;
}

input[type=text]:focus {
    box-shadow: var(--shadow2);
}

:is(.margin-top, .margin-bottom, .margin-left, .margin-right) {
    --margin-size: .85rem;
}

.margin-top {
    clear: both;
    padding-top: var(--margin-size);
}

.margin-bottom {
    clear: both;
    padding-bottom: var(--margin-size);
}

.margin-left {
    clear: both;
    padding-left: var(--margin-size);
}

.margin-right {
    --margin-size: .5rem;
    padding-right: var(--margin-size);
}

.margin-small {
    --margin-size: .25rem;
}

.margin-large {
    --margin-size: .75rem;
}

.full-width,
.full-width>* {
    width: 100%;
}

.grouped>* {
    float: left;
}

.grouped> :not(:last-child) {
    border-right: none;
}

.grouped> :not(:first-child, :last-child) {
    border-radius: 0;
}

.grouped> :first-child,
.grouped .first-child {
    border-radius: .3rem 0 0 .3rem;
}

.grouped> :last-child,
.grouped .last-child {
    border-radius: 0 .3rem .3rem 0;
}

.dropdown,
.grouped {
    position: relative;
    display: inline-block;
}

menu {
    position: absolute;
    background-color: #f9f9f9;
    width: max-content;
    box-shadow: var(--shadow16);
    margin: .2rem 0;
    border-radius: .5rem;
    z-index: 1;
    transition: .1s;
    border: 1px solid #e8e8e8;
}

menu > * {
    display: block;
    color: black;
    padding: .25rem .8rem;
    border-radius: .3rem;
    margin: .25rem;
    text-decoration: none;
    border: none;
}

menu > *:hover {
    background-color: #f1f1f1
}

menu .dropdown {
    display: block;
    padding: 0;
}

menu .dropdown > menu {
    left: 100%;
    top: 0;
}

menu .dropdown > button {
    padding: .25rem .8rem;
}

.dropdown menu:not([open]) {
    display: none;
}
